# Python-related
__pycache__/
__pycache__/*
*.py[cod]

# VSCode related
.vscode
.vscode/*

# Special unrelated files
special
special.o
special.so
special.asm

# Special directory
ignore
ignore/*

# Test file
/test_*

# Testers
.pytest_cache

# Debug UNTRUSTED HACKABLE file
entry.npcl

/note.txt
/profiler.data
/_info.py
libcmd.py
/profile/*
/data/chara/_*
_*
